.about-wrapper
  %h2 Welcome to AhnHub.com!
  %h3 What is AhnHub?
  %p
    AhnHub is a registry of plugins for
    %a{href: 'http://adhearsion.com'} Adhearsion.
    Adhearsion is an Open Source Telephony Engine.  As Rails is to the web, Adhearsion is to the world of Telephony and VoIP. The plugins listed in this repository provide additional functionality to Adhearsion apps, such as database connectivity, integrations with web services, all the way up to high-level functionality such as voicemail and conference calling.
  %h3 History
  %p During Adhearsion Conf 2010, @Jicksta suggested that we create a directory for Adhearsion components. 15 minutes later we had the domain registered and a starter site online. Let @ChrisMatthieu know if you would like to join in on the hacking fun as a contributer on GitHub :)
  %p Follow us on Twitter at @Ahnhub
  %p
    Contributors:
    %br
    %a{href: 'http://twitter.com/bklang'} Ben Klang (@bklang)
    %br
    %a{href: 'http://twitter.com/jowens81'} Jamey Owens (@jowens81)
    %br
    %a{href: 'http://twitter.com/JustinAiken'} Justin Aiken (@JustinAiken)
    %br

  %p
    Original Implementation
    %br
    %a{href: 'http://twitter.com/ChrisMatthieu'} Chris Matthieu (@ChrisMatthieu)
    %br
    %a{href: 'http://twitter.com/Jicksta'} Jay Phillips (@Jicksta)
    %br
    \...more in the Github commits, join us!

- content_for :page_name do
  about
