!!!
%html
  %head
    %title AhnHub: Adhearsion Plugins!
    %meta(content="text/html; charset=utf-8" http-equiv="content-type")
    %meta(content="description" name="description")
    %meta(content="keywords" name="keywords")
    %meta(content="author" name="author")
    %meta(content="&amp;copy; 2013 Mojo Lingo. All rights reserved." name="copyright")

    %link(href="stylesheets/style.css" media="screen" rel="stylesheet" type="text/css")
    %link(href="stylesheets/style-pink.css" media="screen" rel="stylesheet" type="text/css")
    %link(href="favicon.ico" rel="shortcut icon")

    %script src="javascripts/application.js" type="text/javascript">
  %body
    .top
      .full-width.rel
        .one-third
          .logo
            %img( src="images/ahnhub_logo.png" alt="AhnHub" )
        .two-third
          .mainmenu
            %ul
              %li#main-nav-home
                %a( href="/" )
                  %span Home
              %li#main-nav-how
                %a( href="/how" )
                  %span How Does it Work?
              %li#main-nav-about.active
                %a( href="/about" )
                  %span About
        .clear
    .middle
      .search-wrapper
        %form.form-wrapper.cf
          %input(type="text" placeholder="Find Plugins" required)
          %button(type="submit") Search
        .clear
      #component_container
        .about-wrapper
          %h2 Welcome to AhnHub.com!
          %p During Adhearsion Conf 2010, @Jicksta suggested that we create a directory for Adhearsion components. 15 minutes later we had the domain registered and a starter site online. Let @ChrisMatthieu know if you would like to join in on the hacking fun as a contributer on GitHub :)
          %p Follow us on Twitter at @Ahnhub
          %p
            Contributors:
          %p
            @ChrisMatthieu
            %br
            @Jicksta
            %br
            @BKlang
            %br
            \...more in the Github commits, join us!
