.how-wrapper
  %h2
    Just add
    %i http://ahnhub.com/github
    to your GitHub Post-Receive Hooks URL!
  %img(alt="Githubscreenshot" src="/images/githubscreenshot.png?1358357410")

- content_for :page_name do
  how