.how-wrapper
  %h2 Rubygems:
  %h3
    :plain
      curl -H 'Authorization:000000000000000000' \
    %br
    :plain
      -F 'gem_name=GEM_NAME' -F 'url=http://www.ahnhub.com/rubygem_hook' \
    %br
    :plain
      https://rubygems.org/api/v1/web_hooks/fire
  %h2 Github:
  %h3
    Just add
    %i http://ahnhub.com/github
    to your GitHub Post-Receive Hooks URL!
  %img(alt="Githubscreenshot" src="/images/githubscreenshot.png?1358357410")

- content_for :page_name do
  how