h1#main-header {
    width: 740px;
    height: 174px;
    background: url(/images/ahnhub.png) top center no-repeat;
}
h1#main-header span {
    display: none;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

#search-form {
  margin-left: 30px;
}

.more_data {
  background-color: lightGrey;
  padding: 10px;
}

.more_data ul {
  font-size: 0.8em;
}
