
<h1>Welcome to AhnHub.com</h1>
<p>
	During <%=link_to 'Adhearsion', 'http://adhearsion.com'%> Conf 2010, <%=link_to '@Jicksta', 'http://twitter.com/jicksta'%> suggested that we create a directory for Adhearsion components.  15 minutes later we had the domain registered and a start site online. Let <%=link_to '@ChrisMatthieu', 'http://twitter.com/chrismatthieu'%> know if you would like to join in on the hacking fun as a contributer on <%=link_to 'GitHub', 'http://github.com/chrismatthieu/ahnhub'%> :)
</p>
