<center><%= image_tag 'ahnconf.jpg'%></center>
<h1>Welcome to AhnHub.com</h1>
<p>
	Our goal is to hack out an <%=link_to 'Adhearsion', 'http://adhearsion.com'%> component directory during AdhearsionConf!  Let <%=link_to 'Chris Matthieu', 'http://twitter.com/chrismatthieu'%> know if you would like to join in on the hacking fun :)
</p>